@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_text {
  margin-top: 20px;
}
.input_text {
  padding: 10px;
  font-size: 20px;
}
.card {
  border: 1px solid rgb(83, 83, 83);
  margin: 30px auto;
  max-width: 400px;
  background-color: rgba(89, 102, 128,0.7);
  color: whitesmoke;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}

.plant_id {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: tomato;
  padding: 5px 5px;
  border-radius: 5px;

}
.plant_title {
  font-size: 22px;
}
.plant_price {
  font-size: 18px;
}
.plant_info {
  font-size: 14px;
}
